.table-bordered,
.table-bordered > thead > tr > th,
.table-bordered > tbody > tr > th,
.table-bordered > thead > tr > td,
.table-bordered > tbody > tr > td,
.table-bordered > tfoot > tr > td {
  border-color: #ccc;
}

.input-choice {
  > .radio {
    padding-right: 10px;
    float: left;
    > label {
      input {
        margin-right: 5px;
      }
    }
  }
}

.desp-20 {
  height: 20px;
  line-height: 0;
  overflow: hidden;
  clear: both;
}

.ui-state-highlight {
  background: lightyellow;
  padding: 4px;
}

#grid {
  position: relative;
}

#docker-help {
  .modal-dialog {
    width: 800px;
  }
}
