<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %}Docker Dashboard{% endblock %}</title>

    {% block css %}
        <link rel="stylesheet" href="/css/external.css" />
        <link rel="stylesheet" href="/css/app.css" />
    {% endblock %}
</head>
<body>

{% if needsUpgrade %}
    <div class="alert alert-info text-center" id="upgrade-alert">
        Looks like there is a new version available for this tool. Would you like to upgrade ?
        <a href="#" id="upgrade" class="btn btn-xs btn-success">Yes</a> <a href="#" id="upgrade-skip" class="btn btn-xs btn-danger">Not now</a>
    </div>
{% endif %}

{% set route = app.request.attributes.get('_route') %}
<nav class="navbar navbar-default">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{{ path('homepage') }}">Docker</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li{% if match('homepage', route) %} class="active"{% endif %}><a href="{{ path('homepage') }}">Processes <span class="sr-only">(current)</span></a></li>
                <li{% if match('images', route) %} class="active"{% endif %}><a href="{{ path('images') }}">Images</a></li>
                <li{% if match('volumes', route) %} class="active"{% endif %}><a href="{{ path('volumes') }}">Volumes</a></li>
                <li{% if match('network', route) %} class="active"{% endif %}><a href="{{ path('network') }}">Network</a></li>
                <li{% if match('stats', route) %} class="active"{% endif %}><a href="{{ path('stats') }}">Stats</a></li>
                <li{% if match('cluster', route) %} class="active"{% endif %}><a href="{{ path('cluster') }}">Elasticsearch</a></li>
                {#
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="#">Action</a></li>
                        <li><a href="#">Another action</a></li>
                        <li><a href="#">Something else here</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="#">Separated link</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="#">One more separated link</a></li>
                    </ul>
                </li>
                #}
            </ul>
            {#
            <form class="navbar-form navbar-left">
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Search">
                </div>
                <button type="submit" class="btn btn-default">Submit</button>
            </form>
            #}
            <ul class="nav navbar-nav navbar-right">
                {#<li><a href="#">Docker Help</a></li>#}
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Help <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="#" data-toggle="modal" data-target="#docker-help">Docker</a></li>
                        <li><a href="#">Elasticsearch</a></li>
                        {#<li><a href="#">Something else here</a></li>#}
                        {#<li role="separator" class="divider"></li>#}
                        {#<li><a href="#">Separated link</a></li>#}
                    </ul>
                </li>
            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>

<div class="row">
    <div class="col-md-8 col-md-offset-2">
        <div id="announce" style="display: none;"></div>
    </div>
</div>

{% block body %}{% endblock %}

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Upgrading tool</h4>
            </div>
            <div class="modal-body" id="upgrade-response">
                <div class="text-center"><i class="fa fa-spinner fa-spin fa-2x upgrade-spinner"></i></div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="docker-help" tabindex="-1" role="dialog" aria-labelledby="docker-help">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Docker help</h4>
            </div>
            <div class="modal-body">

                <h2>5 ways to debug an exploding Docker container</h2>
                Everything crashes.
                Sometimes things crash when they’re running inside a Docker container though, and then all of a sudden it can get much more difficult to work out why, or what the hell to do next. Docker’s great, but it’s an extra layer of complexity that means you can’t always easily poke your app up close any more, and that can really hinder debugging.
                If you’re stuck in that situation, here’s my goto debugging commands to help you get a bit more information on what’s up:

                <ol>
                    <li>
                        <h4>docker logs &lt;container_id&gt;</h4>
                        <p>Hopefully you’ve already tried this, but if not, start here. This’ll give you the full STDOUT and STDERR from the command that was run initially in your container.</p>
                    </li>
                    <li>
                        <h4>docker stats &lt;container_id&gt;</h4>
                        <p>If you just need to keep an eye on the metrics of your container to work out what’s gone wrong, docker stats can help: it’ll give you a live stream of resource usage, so you can see just how much memory you’ve leaked so far.</p>
                    </li>
                    <li>
                        <h4>docker cp &lt;container_id&gt;:/path/to/useful/file /local-path</h4>
                        <p>Often just getting hold of more log files is enough to sort you out. If you already know what you want, docker cp has your back: copy any file from any container back out onto your local machine, so you can examine it in depth (especially useful analysing heap dumps).</p>
                    </li>
                    <li>
                        <h4>docker exec -it &lt;container_id&gt; /bin/bash</h4>
                        <p>Next up, if you can run the container (if it’s crashed, you can restart it with docker start &lt;container_id&gt;), shell in directly and start digging around for further details by hand.</p>
                    </li>
                    <li>
                        <h4>docker commit &lt;container_id&gt; my-broken-container && docker run -it my-broken-container /bin/bash</h4>
                        <p>Can’t start your container at all? If you’ve got a initial command or entrypoint that immediately crashes, Docker will immediately shut it back down for you. This can make your container unstartable, so you can’t shell in any more, which really gets in the way.
                            Fortunately, there’s a workaround: save the current state of the shut-down container as a new image, and start that with a different command to avoid your existing failures.
                            Have a failing entrypoint instead? There’s an <a href="https://docs.docker.com/engine/reference/run/#cmd-default-command-or-options" target="_blank">entrypoint override command-line flag</a> too.
                        </p>
                    </li>
                </ol>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

{% block js %}
    <script src="/js/external.js"></script>
    <script src="/js/app.js"></script>
{% endblock %}
</body>
</html>
