{% extends '@Docker/layout.html.twig' %}

{% block body %}
    <div class="container-fluid" style="padding-top: 15px;">
        <div class="row">
            <div class="col-sm-12">
                <div class="panel panel-default">
                    <div class="panel-heading">Docker Images</div>
                    <div class="panel-body">
                        {{ drawTableImage(images) }}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
